
[submodule "react-tic-tac-toe"]
	path = react-tic-tac-toe
	url = git@github.com:alineayumi/react-tic-tac-toe.git
	branch = main
[submodule "react-tic-tac-toe-boilerplate"]
	path = react-tic-tac-toe-boilerplate
	url = git@github.com:alineayumi/react-tic-tac-toe-boilerplate.git
	branch = main
[submodule "portfolio"]
	path = portfolio
	url = git@github.com:alineayumi/portfolio.git
	branch = main
[submodule "calend3"]
	path = calend3
	url = git@github.com:alineayumi/web3_calendly_app.git
	branch = main
[submodule "my-wave-portal"]
	path = my-wave-portal
	url = git@github.com:alineayumi/my-wave-portal.git
	branch = main
